page-aereo-despacho {

  @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
* {
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  background: #E5E4E2;
}
.tabinator {
  background: #fff;
  padding: 40px;
  font-family: Open Sans;
}
.tabinator h2 {
  text-align: center;
  margin-bottom: 60px;
}
.tabinator input[type="radio"] {
  display:none;
}

.tabinator label {
  box-sizing: border-box;
  display: inline-block;
  padding: 15px 25px;
  color: #9A0C51;
  margin-bottom: -1px;
  margin-left: -1px;
}
.tabinator label:before {
  content:'';
  display:block;
  width:100%;
  height:15px;
  background-color:#fff;
  position:absolute;
  bottom:-11px;
  left:0;
  z-index:10;
}
.tabinator label:hover {
  color: #888;
  cursor: pointer;
}
.tabinator input:checked + label {
  position: relative;
  color: #000;
  background: #fff;
  border: 1px solid #bbb;
  border-bottom: 1px solid #fff;
  border-radius: 5px 5px 0 0;
}
.tabinator input:checked + label:after {
  display: block;
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  box-shadow: 0 0 15px #939393;
}
#content_Expediente, #content_FichCli, #content_FichAdmin, #content_Indicaciones,
 #content_Incidencias, #content_VerValor, #content_VerIVA, #content_VerExp,
 #content_Servicios{
  display: none;
  border-top: 1px solid #bbb;
  padding: 15px;
}
#tabExpediente:checked ~ #content_Expediente,
#tabFichCli:checked ~ #content_FichCli,
#tabFichAdmin:checked ~ #content_FichAdmin,
#tabIndicaciones:checked ~ #content_Indicaciones,
#tabIncidencias:checked ~ #content_Incidencias,
#tabVeriValor:checked ~ #content_VerValor,
#tabVerIva:checked ~ #content_VerIVA,
#tabVerExp:checked ~ #content_VerExp,
#tabServicios:checked ~ #content_Servicios
{
  display: block;
  box-shadow: 0 0 15px #939393;
}

}
