<!--
Generated template for the RegisterPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->

<p *ngIf="submitAttempt" style="color: #ea6153;">Por favor, rellena todos los campos corectamente</p>
<ion-content padding class="form-content">
  <div class="wrapper" *ngIf="isUserEditable">
    <form class="form-app"  *ngIf="usuario | async; else loading" [formGroup]="registerForm">
      <ion-row>
        <ion-title class="form-title">Formulario de Registro</ion-title>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-input class="form-control" placeholder="Nombre" formControlName="name" type="text" autocapitalize="off" maxlength="70"
              [class.invalid]="!registerForm.controls.name.valid && (registerForm.controls.name.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item class="invalid" *ngIf="!registerForm.controls.name.valid  && (registerForm.controls.name.dirty || submitAttempt)">
              <p style="color: #ea6153;">Campo nombre es requerido</p>
            </ion-item>

            <ion-item>
              <ion-input class="form-control" placeholder="CIF" formControlName="cif" type="text" autocapitalize="off" maxlength="9"
              [class.invalid]="!registerForm.controls.cif.valid && (registerForm.controls.cif.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item class="invalid" *ngIf="!registerForm.controls.cif.valid  && (registerForm.controls.cif.dirty || submitAttempt)">
              <p style="color: #ea6153;">Por favor, inserta un CIF válido</p>
            </ion-item>

            <ion-item>
              <ion-input class="form-control" placeholder="Empresa" formControlName="company" type="text" autocapitalize="off" maxlength="50"
              [class.invalid]="!registerForm.controls.company.valid && (registerForm.controls.company.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item class="invalid" *ngIf="!registerForm.controls.company.valid  && (registerForm.controls.company.dirty || submitAttempt)">
              <p style="color: #ea6153;">Campo empresa es requerido</p>
            </ion-item>

            <ion-item>
              <ion-input class="form-control" placeholder="Direccion" formControlName="address" type="text" autocapitalize="off" maxlength="70"
              [class.invalid]="!registerForm.controls.address.valid && (registerForm.controls.address.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item class="invalid" *ngIf="!registerForm.controls.address.valid  && (registerForm.controls.address.dirty || submitAttempt)">
              <p style="color: #ea6153;">Campo dirección es requerido</p>
            </ion-item>

            <ion-item>
              <ion-input class="form-control" placeholder="Código Postal" formControlName="postalCode" type="text" autocapitalize="off" maxlength="5"
              [class.invalid]="!registerForm.controls.postalCode.valid && (registerForm.controls.postalCode.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item class="invalid" *ngIf="!registerForm.controls.postalCode.valid  && (registerForm.controls.postalCode.dirty || submitAttempt)">
              <p style="color: #ea6153;">Por favor, inserta un código postal válido</p>
            </ion-item>

            <ion-item>
              <ion-input class="form-control" placeholder="Ciudad" formControlName="city" type="text" autocapitalize="off" maxlength="50"
              [class.invalid]="!registerForm.controls.city.valid && (registerForm.controls.city.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item class="invalid" *ngIf="!registerForm.controls.city.valid  && (registerForm.controls.city.dirty || submitAttempt)">
              <p style="color: #ea6153;">Campo ciudad es requerido</p>
            </ion-item>

            <ion-item>
              <ion-input class="form-control" placeholder="Provincia" formControlName="state" type="text" autocapitalize="off" maxlength="50"
              [class.invalid]="!registerForm.controls.state.valid && (registerForm.controls.state.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item class="invalid" *ngIf="!registerForm.controls.state.valid  && (registerForm.controls.state.dirty || submitAttempt)">
              <p style="color: #ea6153;">Campo provincia es requerido</p>
            </ion-item>

            <ion-item>
              <ion-input class="form-control" placeholder="Teléfono" formControlName="tel" type="text" autocapitalize="off" maxlength="30"
              [class.invalid]="!registerForm.controls.tel.valid && (registerForm.controls.tel.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item class="invalid" *ngIf="!registerForm.controls.tel.valid  && (registerForm.controls.tel.dirty || submitAttempt)">
              <p style="color: #ea6153;">Por favor, inserta un número de teléfono válido</p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
        </ion-col>

        <ion-col class="signup-col">
          <button ion-button class="register-btn" block clear  (click)="updateUser()">Actualizar</button>
        </ion-col>

        <ion-col class="signup-col">
          <button ion-button class="close-btn" block clear  (click)="hide()">Cerrar</button>
        </ion-col>

        <ion-col class="signup-col">
        </ion-col>
      </ion-row>

    </form>
  </div>


  <div class="wrapper" *ngIf="!isUserEditable"><!-- puesto aquí por el observable usuario . Poner la parte común en un template y añadir email + password -->
    <form class="form-app" [formGroup]="registerForm">
      <ion-row>
        <ion-title class="form-title">Formulario de Registro</ion-title>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item *ngIf="!isUserEditable">
              <ion-input class="form-control" placeholder="Email" formControlName="email" type="text" autocapitalize="off" maxlength="50"
              [class.invalid]="!registerForm.controls.email.valid && (registerForm.controls.email.dirty || submitAttempt)" disabled="{{isUserEditable}}"></ion-input>
            </ion-item>

            <ion-item class="invalid" *ngIf="!isUserEditable && !registerForm.controls.email.valid  && (registerForm.controls.email.dirty || submitAttempt)">
              <p style="color: #ea6153;">Por favor, inserta un email válido</p>
            </ion-item>

            <ion-item *ngIf="!isUserEditable">
              <ion-input class="form-control" placeholder="Password" type="password" formControlName="password"
              [class.invalid]="!registerForm.controls.password.valid && (registerForm.controls.password.dirty || submitAttempt)" disabled="{{isUserEditable}}"></ion-input>
            </ion-item>

            <ion-item class="invalid" *ngIf="!isUserEditable && !registerForm.controls.password.valid  && (registerForm.controls.password.dirty || submitAttempt)">
              <p style="color: #ea6153;">Campo password es requerido</p>
            </ion-item>

            <ion-item>
              <ion-input class="form-control" placeholder="Nombre" formControlName="name" type="text" autocapitalize="off" maxlength="70"
              [class.invalid]="!registerForm.controls.name.valid && (registerForm.controls.name.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item class="invalid" *ngIf="!registerForm.controls.name.valid  && (registerForm.controls.name.dirty || submitAttempt)">
              <p style="color: #ea6153;">Campo nombre es requerido</p>
            </ion-item>

            <ion-item>
              <ion-input class="form-control" placeholder="CIF" formControlName="cif" type="text" autocapitalize="off" maxlength="9"
              [class.invalid]="!registerForm.controls.cif.valid && (registerForm.controls.cif.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item class="invalid" *ngIf="!registerForm.controls.cif.valid  && (registerForm.controls.cif.dirty || submitAttempt)">
              <p style="color: #ea6153;">Por favor, inserta un CIF válido</p>
            </ion-item>

            <ion-item>
              <ion-input class="form-control" placeholder="Empresa" formControlName="company" type="text" autocapitalize="off" maxlength="50"
              [class.invalid]="!registerForm.controls.company.valid && (registerForm.controls.company.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item class="invalid" *ngIf="!registerForm.controls.company.valid  && (registerForm.controls.company.dirty || submitAttempt)">
              <p style="color: #ea6153;">Campo empresa es requerido</p>
            </ion-item>

            <ion-item>
              <ion-input class="form-control" placeholder="Direccion" formControlName="address" type="text" autocapitalize="off" maxlength="70"
              [class.invalid]="!registerForm.controls.address.valid && (registerForm.controls.address.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item class="invalid" *ngIf="!registerForm.controls.address.valid  && (registerForm.controls.address.dirty || submitAttempt)">
              <p style="color: #ea6153;">Campo dirección es requerido</p>
            </ion-item>

            <ion-item>
              <ion-input class="form-control" placeholder="Código Postal" formControlName="postalCode" type="text" autocapitalize="off" maxlength="5"
              [class.invalid]="!registerForm.controls.postalCode.valid && (registerForm.controls.postalCode.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item class="invalid" *ngIf="!registerForm.controls.postalCode.valid  && (registerForm.controls.postalCode.dirty || submitAttempt)">
              <p style="color: #ea6153;">Por favor, inserta un código postal válido</p>
            </ion-item>

            <ion-item>
              <ion-input class="form-control" placeholder="Ciudad" formControlName="city" type="text" autocapitalize="off" maxlength="50"
              [class.invalid]="!registerForm.controls.city.valid && (registerForm.controls.city.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item class="invalid" *ngIf="!registerForm.controls.city.valid  && (registerForm.controls.city.dirty || submitAttempt)">
              <p style="color: #ea6153;">Campo ciudad es requerido</p>
            </ion-item>

            <ion-item>
              <ion-input class="form-control" placeholder="Provincia" formControlName="state" type="text" autocapitalize="off" maxlength="50"
              [class.invalid]="!registerForm.controls.state.valid && (registerForm.controls.state.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item class="invalid" *ngIf="!registerForm.controls.state.valid  && (registerForm.controls.state.dirty || submitAttempt)">
              <p style="color: #ea6153;">Campo provincia es requerido</p>
            </ion-item>

            <ion-item>
              <ion-input class="form-control" placeholder="Teléfono" formControlName="tel" type="text" autocapitalize="off" maxlength="30"
              [class.invalid]="!registerForm.controls.tel.valid && (registerForm.controls.tel.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item class="invalid" *ngIf="!registerForm.controls.tel.valid  && (registerForm.controls.tel.dirty || submitAttempt)">
              <p style="color: #ea6153;">Por favor, inserta un número de teléfono válido</p>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
        </ion-col>

        <ion-col class="signup-col">
          <button ion-button class="register-btn" block clear  (click)="registerUser()">Registrarse</button>
        </ion-col>

        <ion-col class="signup-col">
          <button ion-button class="close-btn" block clear  (click)="close()">Cerrar</button>
        </ion-col>

        <ion-col class="signup-col">
        </ion-col>
      </ion-row>

    </form>
  </div>
</ion-content>

<ng-template #loading>
  Cargando Usuario....
</ng-template>
