<page-home></page-home>

  <ion-content class="top120" padding>

    <div class="module-title">
      <h2>Indicación</h2>
    </div>


    <div class="row">
      <ion-item>
        <ion-textarea placeholder="Observación"
            [(ngModel)]="indicacion.texto" name="texto" autocomplete="on" autocorrect="on"></ion-textarea>
       </ion-item>
    </div>


    <div class="row form-control">
      <button class="button-new" (click)="saveIndicacion()">Guardar</button>
      <div class="white-space"></div>
    </div>


</ion-content>

