page-home {
  .logo {
    height: 100px;
    width: 300px;
    contain: strict;
  }

  .home-navbar {
    height: 100px;
  }

  .home-button {
    border: solid 1px #9A0C51;
    color: #FBBC05;
    background-color: #9A0C51;
  }
}
