page-home {
  .logo {
    height: 100px;
    width: 300px;
    contain: strict;
  }

  .home-navbar {
    height: 100px;
  }

  .home-button {}

  button:hover {
    background-color: #9A0C51 !important;
    color: #FBBC05 !important;
  }
}
