<!-- Generated template for the FicherosClienteComponent component -->


<div *ngIf="tieneNumExpediente()">
  <div class="row">
    <div class="col-6">
        <br />
      <b>Fichero a subir:</b>
      <input type="text" [(ngModel)]="tipoFicheroSel" class="form-control" required />
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <br />
      <input type="file" (change)="upload($event)" class="form-control" />
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <br />
      <b>Status: </b> {{ uploadPercent | async }} %
    </div>
  </div>
    
  <div class="row">
    <div class="col-12">
      <a [href]="downloadURL | async" target="_blank"> {{ downloadURL | async }}</a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <br />
      <b>Ficheros subidos:</b>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ng2-smart-table 
        [settings]="settings" 
        [source]="ficherosAdmin | async" 
        (deleteConfirm)="deleteFichero($event)"
        (custom)="onFilesAdminCustom($event)">
      </ng2-smart-table>
    </div>
    </div>
</div>

<div *ngIf="!tieneNumExpediente()">
  <br />
  <b>Guarde datos del expediente antes de subir ficheros</b>
</div>
