
<BR>

  <div class="row">
    <div class="col-2 form-group">
      <span class="label-text"><B>Mercancía:</B></span>
      <input [(ngModel)]="expVerificacion.mercanciaValor" type="checkbox"/>
    </div>
  </div>
  <div class="row">
    <div class="col-2 form-group">
      <span class="label-text"><B>Valor CIF en euros:</B></span>
      <input [(ngModel)]="expVerificacion.valorFactura" type="checkbox"/>
    </div>
  </div>
  <div class="row">
    <div class="col-2 form-group">
      <span class="label-text"><B>Arancel:</B></span>
      <input [(ngModel)]="expVerificacion.arancel" type="checkbox"/>
    </div>
  </div>
  <div class="row">
    <div class="col-2 form-group">
      <span class="label-text"><B>Impuestos Especiales:</B></span>
      <input [(ngModel)]="expVerificacion.impuestosEspecales" type="checkbox"/>
    </div>
  </div>
  <div class="row">
    <div class="col-2 form-group">
      <span class="label-text"><B>Antidumping:</B></span>
      <input [(ngModel)]="expVerificacion.antidumping" type="checkbox"/>
    </div>
  </div>
  <div class="row">
    <div class="col-2 form-group">
      <span class="label-text"><B>Otros Tributos:</B></span>
      <input [(ngModel)]="expVerificacion.otrosTributos" type="checkbox"/>
    </div>
  </div>
  <div class="row">
    <div class="col-2 form-group">
      <span class="label-text"><B>Descarga:</B></span>
      <input [(ngModel)]="expVerificacion.descarga" type="checkbox"/>
    </div>
  </div>
  <div class="row">
    <div class="col-2 form-group">
      <span class="label-text"><B>T-3:</B></span>
      <input [(ngModel)]="expVerificacion.t3" type="checkbox"/>
    </div>
  </div>
  <div class="row">
    <div class="col-2 form-group">
      <span class="label-text"><B>Servicios Exentos:</B></span>
      <input [(ngModel)]="expVerificacion.serviciosExentos" type="checkbox"/>
    </div>
  </div>
  <div class="row">
    <div class="col-2 form-group">
      <span class="label-text"><B>Transporte Interior:</B></span>
      <input [(ngModel)]="expVerificacion.transporteInterior" type="checkbox"/>
    </div>
  </div>
  <div class="row">
    <div class="col-2 form-group">
      <span class="label-text"><B>Otra adición o substracción:</B></span>
      <input [(ngModel)]="expVerificacion.otraAdicion" type="checkbox"/>
    </div>
  </div>
  <div class="row">
    <div class="col-2 form-group">
      <span class="label-text"><B>Base IVA:</B></span>
      <input [(ngModel)]="expVerificacion.baseIVA" type="checkbox"/>
    </div>
  </div>
  <div class="row">
    <div class="col-2 form-group">
      <span class="label-text"><B>7002 Importe Gastos IVA:</B></span>
      <input [(ngModel)]="expVerificacion.importeGastosIVA" type="checkbox"/>
    </div>
  </div>
  <div class="row">
    <div class="col-2 form-group">
      <span class="label-text"><B>Tipo Impositivo:</B></span>
      <input [(ngModel)]="expVerificacion.tipoImpositivo" type="checkbox"/>
    </div>
  </div>
  <div class="row">
    <div class="col-2 form-group">
      <span class="label-text"><B>Recargo de Equivalencia:</B></span>
      <input [(ngModel)]="expVerificacion.recargoEquivalencia" type="checkbox"/>
    </div>
  </div>
  <div class="row">
    <div class="col-2 form-group">
      <span class="label-text"><B>IVA a pagar:</B></span>
      <input [(ngModel)]="expVerificacion.pagarIVA" type="checkbox"/>
    </div>
  </div>

  <div class="row form-control">
    <button class="button-new" (click)="guardar()">Guardar</button>
    <div class="white-space"></div>
  </div>
