<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Mercancía:</B></span>
    <input type="checkbox" class="control-checkbox" [(ngModel)]="expVerificacion.mercanciaValor" />
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Valor CIF en euros:</B></span>
    <input type="checkbox" class="control-checkbox" [(ngModel)]="expVerificacion.valorFactura" />
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Arancel:</B></span>
    <input type="checkbox" class="control-checkbox" [(ngModel)]="expVerificacion.arancel" />
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Impuestos Especiales:</B></span>
    <input type="checkbox" class="control-checkbox" [(ngModel)]="expVerificacion.impuestosEspecales" />
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Antidumping:</B></span>
    <input type="checkbox" class="control-checkbox" [(ngModel)]="expVerificacion.antidumping" />
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Otros Tributos:</B></span>
    <input type="checkbox" class="control-checkbox" [(ngModel)]="expVerificacion.otrosTributos" />
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Descarga:</B></span>
    <input type="checkbox" class="control-checkbox" [(ngModel)]="expVerificacion.descarga" />
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>T-3:</B></span>
    <input type="checkbox" class="control-checkbox" [(ngModel)]="expVerificacion.t3" />
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Servicios Exentos:</B></span>
    <input type="checkbox" class="control-checkbox" [(ngModel)]="expVerificacion.serviciosExentos" />
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Transporte Interior:</B></span>
    <input type="checkbox" class="control-checkbox" [(ngModel)]="expVerificacion.transporteInterior" />
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Otra adición o substracción:</B></span>
    <input type="checkbox" class="control-checkbox" [(ngModel)]="expVerificacion.otraAdicion" />
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Base IVA:</B></span>
    <input type="checkbox" class="control-checkbox" [(ngModel)]="expVerificacion.baseIVA" />
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>7002 Importe Gastos IVA:</B></span>
    <input type="checkbox" class="control-checkbox" [(ngModel)]="expVerificacion.importeGastosIVA" />
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Tipo Impositivo:</B></span>
    <input type="checkbox" class="control-checkbox" [(ngModel)]="expVerificacion.tipoImpositivo" />
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Recargo de Equivalencia:</B></span>
    <input type="checkbox" class="control-checkbox" [(ngModel)]="expVerificacion.recargoEquivalencia" />
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>IVA a pagar:</B></span>
    <input type="checkbox" class="control-checkbox" [(ngModel)]="expVerificacion.pagarIVA" />
  </div>
</div>

<div class="row form-control">
  <button class="button-new" (click)="guardar()">Guardar</button>
  <div class="white-space"></div>
</div>
