<!-- Generated template for the FicherosClienteComponent component -->


<div *ngIf="tieneNumExpediente()">
  <BR><b>Tipo de Fichero a subir: </b><select [(ngModel)]="tipoFicheroSel">
      <option *ngFor="let expTipo of tiposFichero" [ngValue]="expTipo">{{ expTipo }}</option>
    </select>
   <input type="file" (change)="upload($event)" />{{ uploadPercent | async }}%
   <BR> Ficheros subidos: <BR>
  <a [href]="downloadURL | async">{{ downloadURL | async }}</a>

  <BR>
  <div>
    <ng2-smart-table [settings]="settings" [source]="ficherosCliente | async">
    </ng2-smart-table>
  </div>
</div>

<div *ngIf="!tieneNumExpediente()">
  <BR><B>Guarde datos del expediente antes de subir ficheros</B>
</div>
