<!-- Generated template for the AereoDespachoComponent component -->

<page-home></page-home>

  <ion-content class="top120" padding>

    <div class="module-title">
      <h2>Incidencias</h2>
    </div>

    <div class="row">
      <div class="col-2 form-group">
        <span class="label-text"><B>Abierta por:</B></span>
        <input type="text" [(ngModel)]="incidencia.abiertaPor" required />
      </div>
    </div>
    <div class="row">
      <div class="col-2 form-group">
        <span class="label-text"><B>Origen:</B></span>
        <select class="control-select" [(ngModel)]="incidencia.origen">
          <option>Aduana</option>
          <option>Operador</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-2 form-group">
        <span class="label-text"><B>NIF:</B></span>
        <input type="text" [(ngModel)]="incidencia.NIF"  required />
      </div>

      <div class="col-2 form-group">
        <span class="label-text"><B>Comunicaci&oacute; a la aduana:</B></span>
        <select class="control-select" [(ngModel)]="incidencia.comunicadoAduana">
          <option>SI</option>
          <option>NO</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-2 form-group">
        <span class="label-text"><B>Tratado en la reunión :</B></span>
        <select class="control-select" [(ngModel)]="incidencia.tratado">
          <option>SI</option>
          <option>NO</option>
        </select>
      </div>
      <div class="col-2 form-group">
        <span class="label-text"><B>Incorporado en ficha del cliente :</B></span>
        <select class="control-select" [(ngModel)]="incidencia.incorporadoFicha">
          <option>SI</option>
          <option>NO</option>
        </select>
      </div>
      <div class="col-2 form-group">
        <span class="label-text"><B>Estado:</B></span>
        <select class="control-select" [(ngModel)]="incidencia.estado">
          <option>Abierta</option>
          <option>Cerrado</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-2 form-group">
        <span class="label-text"><B>Liquidaciones complementarias :</B></span>
        <input type="text" [(ngModel)]="incidencia.liquidacionesComplementarias" required />
      </div>
    </div>
    <div class="row">
      <div class="col-2 form-group">
        <span class="label-text"><B>Documentación relacionada :</B></span>
        <input type="text" [(ngModel)]="incidencia.documentacionRelacionada" required />
      </div>
    </div>


    <div class="row">
      <div class="col-2 form-group">
        <span class="label-text"><B>Descripci&oacute;n:</B></span>
        <input type="text" [(ngModel)]="incidencia.descripcion" required />
      </div>
    </div>
    <div class="row">
      <div class="col-2 form-group">
        <span class="label-text"><B>Acción Correctora Aplicada:</B></span>
        <input type="text" [(ngModel)]="incidencia.accion"   required />
      </div>
    </div>

    <div class="row form-control">
      <button class="button-new" (click)="editIncidencia()">Guardar</button>
      <div class="white-space"></div>
    </div>


</ion-content>
