<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Valor Factura:</B></span>
    <select class="control-select" [(ngModel)]="expVerificacion.valorFactura">
      <option>SI</option>
      <option>NO</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Incoterm:</B></span>
    <select class="control-select" [(ngModel)]="expVerificacion.incoterm">
      <option>SI</option>
      <option>NO</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Tipo Divisa:</B></span>
    <select class="control-select" [(ngModel)]="expVerificacion.tipoDivisa">
      <option>SI</option>
      <option>NO</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Descuentos:</B></span>
    <select class="control-select" [(ngModel)]="expVerificacion.descuentos">
      <option>SI</option>
      <option>NO</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Flete:</B></span>
    <select class="control-select" [(ngModel)]="expVerificacion.flete">
      <option>SI</option>
      <option>NO</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Seguro:</B></span>
    <select class="control-select" [(ngModel)]="expVerificacion.seguro">
      <option>SI</option>
      <option>NO</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Adición:</B></span>
    <select class="control-select" [(ngModel)]="expVerificacion.adicion">
      <option>SI</option>
      <option>NO</option>
    </select>
  </div>
</div>

<div class="row form-control">
  <button class="button-new" (click)="guardar()">Guardar</button>
  <div class="white-space"></div>
</div>
