<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Valor Factura:</B></span>
    <input type="checkbox" class="control-checkbox" [(ngModel)]="expVerificacion.valorFactura" />
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Incoterm:</B></span>
    <input type="checkbox" class="control-checkbox" [(ngModel)]="expVerificacion.incoterm" />
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Tipo Divisa:</B></span>
    <input type="checkbox" class="control-checkbox" [(ngModel)]="expVerificacion.tipoDivisa" />
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Descuentos:</B></span>
    <input type="checkbox" class="control-checkbox" [(ngModel)]="expVerificacion.descuentos" />
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Flete:</B></span>
    <input type="checkbox" class="control-checkbox" [(ngModel)]="expVerificacion.flete" />
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Seguro:</B></span>
    <input type="checkbox" class="control-checkbox" [(ngModel)]="expVerificacion.seguro" />
  </div>
</div>
<div class="row">
  <div class="col-2 form-group">
    <span class="label-text"><B>Adición:</B></span>
    <input type="checkbox" class="control-checkbox" [(ngModel)]="expVerificacion.adicion" />
  </div>
</div>

<div class="row form-control">
  <button class="button-new" (click)="guardar()">Guardar</button>
  <div class="white-space"></div>
</div>
